

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: right;
    background-color: #cc4c41;
    padding: 50px;
    text-align: right;

    img {
        width: 6%;
    }

    a {
        color: #fff;
        margin-left: 30px;
        text-decoration: none;
    }
}

.navbar {
    justify-content: flex-end;
    margin-right: auto;
    align-items: baseline;
}


.searchNav {
    display: flex;
    align-items: right;
    margin-right: 10px;
    justify-content: flex-end;

}

#search {
    padding: 8px;
    border: 1px solid #ccc;
    margin-right: 8px;
}

.btn {
    padding: 8px 16px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

#PokemonDetail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .images {
        width: 20%;
    }
}

.ListPokemonG {
        --background: linear-gradient(to left, #f7ba2b 0%, #ea5358 100%);
        width: 190px;
        height: 254px;
        padding: 5px;
        border-radius: 1rem;
        overflow: visible;
        background: #f7ba2b;
        background: var(--background);
        position: relative;
        z-index: 1;
        display: block;
        margin: auto;
    }

    .carte::after {
        position: absolute;
        content: "";
        top: 30px;
        left: 0;
        right: 0;
        z-index: -1;
        height: 100%;
        width: 100%;
        transform: scale(0.8);
        filter: blur(25px);
        background: #f7ba2b;
        background: var(--background);
        transition: opacity .5s;
    }

    .carte-info {
        --color: #181818;
        background: var(--color);
        color: var(--color);
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        overflow: visible;
        border-radius: .7rem;
    }

    .carte.title {
        font-weight: bold;
        letter-spacing: .1em;
    }

    /*Hover*/
    .carte:hover::after {
        opacity: 0;
    }

    .carte:hover .carte-info {
        color: #f7ba2b;
        transition: color 1s;
    }
